body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.app {

}

.app__nav {
  background: #158dee;
  color: #fafaf4;
  padding: 1rem;
}
